html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --font: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --text-color: white;
  --border-settings: solid white 2px;
  --text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
  --border-settings: solid 2px white;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  color: var(--text-color);
  text-shadow: var(--text-shadow);
}

body {
  font-family: var(--font);
}

.main_container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  row-gap: 4em;
}

.main_container__welcome_block {
  border-bottom-left-radius: 4em;
  border-bottom-right-radius: 4em;
  flex: 1;
  min-height: 100vh;
  min-width: 100%;
  background-image: url(./background-image.png);
  background-repeat: no-repeat;
}

.welcome_block__header {
  display: flex;
  border-bottom: var(--border-settings);
  max-height: 2em;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.welcome_block__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h1,
h2 {
  padding-bottom: 0.5em;
}

.welcome_block__info {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.welcome_block__slogan {
  border-right: var(--border-settings);
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome_block__text {
  padding-left: 3em;
  padding-right: 3em;
  font-size: 3.5rem;
}

.welcome_block__buttons_block {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 3em;
  justify-content: center;
  align-items: center;
}

.welcome_block__button {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-right: 2em;
  padding-left: 2em;
  width: 12em;
  font-style: none;
  background: transparent;
  font-size: 3rem;
  color: white;
  border: var(--border-settings);
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.welcome_block__button:hover {
  background-color: white;
  color: black;
}

.main_container__buffer_zone {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2em;
}

.text_block__desc_text {
  padding-left: 6em;
  padding-right: 6em;
  padding-bottom: 3em;
  font-size: 2rem;
}

.text_block__image_container {
  padding: 3em;
}

.slide_images {
  width: 70vw;
  border-radius: 4em;
  z-index: -1;
}

.main_container__text_block {
  margin: 4em;
  border-radius: 4em;
  background-color: #f1f3f5;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  text-shadow: none;
}

.footer_background {
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  background-color: #525252;
  font-size: 2rem;
  padding: 2em;
}

@media screen and (max-width: 480px) {
}
