:root {
  --font: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --text-color: white;
  --border-settings: solid white 2px;
  --text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.336);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  font-family: var(--font);
}

.welcome-block {
  margin: 0;
  padding: 0;
  background-image: url(./background-image.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.welcome-block__header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.34em;
  color: var(--text-color);
  background-image: url(./background-image.png);
  background-repeat: no-repeat;
  position: sticky;
  top: 0;
  border-bottom: var(--border-settings);
  font-size: 4rem;
  text-shadow: var(--text-shadow);
}

.welcome-block__text {
  color: var(--text-color);
  font-size: 2rem;
  padding-top: 5em;
  padding-bottom: 9.3em;
  padding-right: 5em;
  margin-top: -2em;
  margin-right: 29.7em;
  padding-left: 5em;
  text-shadow: var(--text-shadow);
  border-right: var(--border-settings);
  border-bottom: var(--border-settings);
}

@media screen and (max-width: 480px) {
  .welcome-block__text {
    color: var(--text-color);
    font-size: 2rem;
    padding-top: 1em;
    padding-bottom: 0em;
    padding-right: 1em;
    margin-top: 0em;
    margin-right: 0em;
    padding-left: 1em;
    text-shadow: var(--text-shadow);
    border-right: none;
    border-bottom: none;
  }
}
